## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About {PLATFORM_NAME}').format(PLATFORM_NAME='Stanford Online')}</title></%block>

<%block name="js_extra">
  
</%block>

<section class="container about" style="width: auto;">

  <section class="vision">

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="http://www.uni-heidelberg.de/md/zentral/startseite/logo_neu_204x107.jpg" alt="${_('Uni HD Logo')}" />
      </div>

      <article id="heiMOOC-contact">
        <h2>${_('Academic Support').format(NovoEd="NovoEd")}</h2>
        <p><strong>${_('Course Staff:').format(NovoEd="NovoEd")}</strong><br />
        Contact information for the course staff can be found on the course information page of each individual course.</p>

        <p>&nbsp;</p>
        <h2>${_('Technical Support, Suggestions, and Platform Bugs')}</h2>
        <p><strong>${_('Editorial Office Tech HiWi:')}</strong><br />
        Nathan Bee <a href="mailto:nathan.bee@asia-europe.uni-heidelberg.de">nathan.bee@asia-europe.uni-heidelberg.de</a></p>
        
        <p>&nbsp;</p>
        <h2>${_('Add your course to heiMOOC')}</h2>
        <p><strong>${_('Editorial Office MOOC Team:')}</strong><br />
        <a href="mailto:mooc@asia-europe.uni-heidelberg.de">mooc@asia-europe.uni-heidelberg.de</a></p>
        
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
