## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About {PLATFORM_NAME}').format(PLATFORM_NAME='Stanford Online')}</title></%block>

<%block name="js_extra">
  
</%block>

<section class="container about" style="width: auto;">

  <section class="vision">

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/dish.jpg')}" alt="${_('Stanford Dish by Twilight')}" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Technical Support, Suggestions, and Platform Bugs')}</h2>
        <p><strong>${_('Stanford Online Help Center:')}</strong><br />
        <a href="https://stanfordonline.zendesk.com/hc">https://stanfordonline.zendesk.com</a></p>
        
        <p>The <a href="https://stanfordonline.zendesk.com/hc">Help Center</a> contains a FAQ that answers all of the most common tech support questions for the courses available through class.stanford.edu. If you can't find what you're looking for there, or if you have a suggestion or bug report to make, you can also file a support ticket from the Help Center.</p>
        <p>If you are taking a course through Coursera or NovoEd, you can find their contact information below.</p>
        
        <p>&nbsp;</p>
        <h2>${_('Contact {Coursera}').format(Coursera="Coursera")}</h2>
        <p><strong>${_('{Coursera} Student Support Center:').format(Coursera="Coursera")}</strong><br />
        <a href="http://help.coursera.org/" class="external">http://help.coursera.org/</a></p>
        
        <p>&nbsp;</p>
        <h2>${_('Contact {NovoEd}').format(NovoEd="NovoEd")}</h2>
        <p><strong>${_('{NovoEd} Support Center:').format(NovoEd="NovoEd")}</strong><br />
        <a href="mailto:support@novoed.com" class="external">support@novoed.com</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
