## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About heiMOOC')}</title></%block>

<%block name="js_extra">
  
</%block>

<section class="container about" style="width: auto;">

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="http://www.uni-heidelberg.de/md/zentral/startseite/logo_neu_204x107.jpg" alt="${_('Uni HD Logo')}" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>${_('About')} <span class="edx">heiMOOC</span></h2>
        
        <p>${_('heiMOOC is developing new online course material in order to improve on-campus courses and provide broader public access to exciting learning opportunities.')}</p>
        <p>${_("The MOOC team at the Editorial Office of the CLuster Asia and Europe at Heidelberg University is running and developing on an instance of the {platform_link_start}OpenEdX platform{link_end}.").format(
            platform_link_start='<a href="http://code.edx.org">',
            link_end='</a>'
          )}
        </p>
      </article>
      
    </section>

</section>
