//
//HeiMOOC Variables
//

//Colour
$heiRed: #b5152b;
$heiBeige: #f4f1ea;
$heiLightGrey: #cccccc;
$heiDarkGrey: #666666;

//changed theme colours
$dark-color: $heiRed; //red link colour

//Background
$body-bg: white;

//Font
$theme-sans-font: 'Lato';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;
$theme-serif-font: 'Domine';
$serif: $theme-serif-font, $serif;

//
//FONTS
//

//imports

//Sans-Serif (Lato)
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

//Serif (Domine)
@import url(http://fonts.googleapis.com/css?family=Domine:700);

//assignments

//sans-serif
a, h1, h2, h3, span {
    font-family: $sans-serif;
    color: black;
}

p {
    font-family: $sans-serif !important;
    color: black;
}

//serif
header.global h1.logo a {
    font-family: $serif;
}

.course-info .details h2 {
    font-family: $serif;
}


//
//GENERAL
//

//general main container margin
    .container {
        padding: 0px 15px;
    }

//
//HEADER
//

header.global {
    border-bottom: 1px solid $heiRed;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    background: none repeat scroll 0% 0% $heiRed;
    height: 39px;
    position: relative;
    width: 100%;
}

header.global .nav-global li a {
    color: white;
}

header.global .nav-global li a:hover, header.global .nav-global li a:focus, header.global .nav-global li a:active, header.global .nav-global div a:hover, header.global .nav-global div a:focus, header.global .nav-global div a:active {
    text-decoration: none;
    color: white;
}

.right {
        float: right !important;
}

header.global nav {
	padding: 5px 10px 0px;
	color: white;
}

header.global .nav-global {
	margin-top: 5px;
}

header.global .nav-global li {
        margin: 0px 0px 0px 0px;
}

header.global h1.logo a {
	color: white;
	text-decoration: none;
}

header.global .nav-seperator {
        font-size: 1.5em !important;
}

//
// HOME AND COURSES (UNAUTHENTICATED)
//

//Background image home
.highlighted-courses .courses {
    background-image: url('../themes/default/images/MOOC_Background_seal_image.png');
    background-size: 950px auto;
    min-height: 520px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

//Background image courses
.find-courses .courses {
    background-image: url('../themes/default/images/MOOC_Background_seal_image.png');
    background-size: 950px auto;
    min-height: 730px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

//Welcome screen courses
header.search {
    display: none;
    background-image: none;
    background-color: white;
    border-bottom: none;
    box-shadow: none;
    height: 0;

}

//Welcome screen home
.home > header {
    display: none;
    background-image: none;
    background-color: white;
    border-bottom: none;
    box-shadow: none;
    height: 0;
}

//Home main course list container
.home .highlighted-courses {
    margin-bottom: 0;
}

//Main Background
.content-wrapper {
    width: 100%;
    margin: 0px auto;
    background: none repeat scroll 0% 0% white !important;
    padding-bottom: 0px !important;
}

//Courses main course list container
.find-courses {
    background: none repeat scroll 0% 0% white;
    padding-bottom: 0;
}

//Course listing container
.highlighted-courses .courses {
    padding: 250px 0px 15px;
}

//
//FOOTER
//

.wrapper-footer {
    background: none repeat scroll 0% 0% white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-top: 0px solid #C4C5C7;
}

.footer-hr {
    border-width: 2px 0px 0px;
    border-color: $heiRed -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
}

//
// COURSE ITEM
//

//Outside box (borders, shadows etc.)
.highlighted-courses .courses .course, .find-courses .courses .course {
    background: none repeat scroll 0% 0% white;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(255, 255, 255, 0.9) inset;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    transition: all 0.15s linear 0s;
}

//Box for course image and description (normal)
.highlighted-courses .courses .course .info, .find-courses .courses .course .info {
    height: 380px;
}

//Box for course image and description (hover)
.highlighted-courses .courses .course:hover .info, .highlighted-courses .courses .course:focus .info, .find-courses .courses .course:hover .info, .find-courses .courses .course:focus .info {
    top: -200px;
}

//Text box for course description
.highlighted-courses .courses .course .info .desc, .find-courses .courses .course .info .desc {
    box-sizing: border-box;
    height: 150px;
    overflow: hidden;
    padding: 10px 10px 12px;
    position: relative;
    width: 100%;
    background: white;
}

.highlighted-courses .courses .course .info .bottom, .find-courses .courses .course .info .bottom {
    background: white;
}

//Link bar box (normal)
.highlighted-courses .courses .course header.course-preview, .find-courses .courses .course header.course-preview {
    top: 180px;
    height: 20px;
    background-image: none;
    background: $heiRed;
    border: 2px solid white;
}

//Link bar box (hover, focus)
.highlighted-courses .courses .course header.course-preview:hover, .highlighted-courses .courses .course header.course-preview:focus, .find-courses .courses .course header.course-preview:hover, .find-courses .courses .course header.course-preview:focus {
    background-image: none;
    background: $heiRed;
    text-decoration: none;
    color: white;
}

//Text Container Link bar (normal)
.highlighted-courses .courses .course header.course-preview hgroup h2, .find-courses .courses .course header.course-preview hgroup h2 {
    height: 20px;
    color: white;
    text-shadow: none;
}

//Text Container Link bar course number
.highlighted-courses .courses .course header.course-preview hgroup h2 .course-number, .find-courses .courses .course header.course-preview hgroup h2 .course-number{
    color: white;
    text-shadow: none;
}

//Text Container Link bar course number (hover)
.highlighted-courses .courses .course header.course-preview:hover h2, .highlighted-courses .courses .course header.course-preview:focus h2, .find-courses .courses .course header.course-preview:hover h2, .find-courses .courses .course header.course-preview:focus h2 {
color: white;
}

//Link bar arrow box
.highlighted-courses .courses .course header.course-preview .info-link, .find-courses .courses .course header.course-preview .info-link {
    border-left: none;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    height: 100%;
    opacity: 1;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-shadow: none;
    top: 0px;
    width: 60px;
    vertical-align: middle;
    background-image: url('../themes/default/images/heiMOOC_arrow.png');
    background-size: 8px;
	background-repeat: no-repeat;
	background-position: center right;
	margin-right: 10px;
}

//Link bar arrow text
.highlighted-courses .courses .course header.course-preview .info-link h2, .find-courses .courses .course header.course-preview .info-link h2 {
    height: 20px;
    color: white;
}

//
//ABOUT and CONTACT
//

//Background
.container.about {
    background-image: url('../themes/default/images/MOOC_Background_seal_image.png');
    background-size: 950px auto;
    min-height: 790px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    padding: 40px 30px 40px;
}

//Remove border on content container
.container.about .vision .message {
    border-bottom: 0;
}

//
//COURSE ABOUT
//

//Login Button

.course-info .course-sidebar .main-cta {
    margin-top: 30px;
    display: flex;
    justify-content: center;




}

.course-info .course-sidebar .main-cta .register {
    padding: 10px 0px;
    background-color: $heiRed;
    color: white !important;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 90px;
    text-align: center;
}

//course name and share buttons
.heiCourseName {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;
}

//share links
.social-sharing {
    display: flex;
}

.share {
    margin: 0 3px;
    color: $heiDarkGrey !important;
}

.sharing-message {
    margin: 0 3px;
    color: $heiDarkGrey !important;
}

//course profile
.heiCourseProfile {
    display: flex;
}

//borders and margins/padding, background image
.course-info .container {
    padding-bottom: 0px;
    background-image: url('../themes/default/images/MOOC_Background_seal_image.png');
    background-size: 950px auto;
    background-position: center -60px;
    background-repeat: no-repeat;

}

.course-info .details {
    border-right: 2px solid $heiRed;
    margin-right: 0;
}

.course-info .details .inner-wrapper {
    padding-right: 20px;
}

.course-info .details .inner-wrapper .course-staff .teacher .teacher-image {
    border: none;
}

.course-info .course-sidebar {
    width: 31%;
    padding-left: 20px;
}

.course-info .course-sidebar > section {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $heiRed;
}

.course-info .course-sidebar .important-dates li {
    border-bottom: none;
}

//Sidebar important-dates table
.course-info .course-sidebar .important-dates {
    width: 100%;
}

.important-dates-item .left-item {
    text-align: right;
    padding-right: 10px;
}

.important-dates-item .right-item {
    text-align: left;
    padding-left: 10px;
}

//
//Login
//

//bottom margin
.login-register {
	margin-bottom: 50px;
}

//Border Login Form
.login-register form {
	border: 1px solid $heiRed !important;
}

//Input fields
.login-register .form-field input {
	background: $heiBeige !important;
	border: 1px solid $heiRed !important;
}

.login-register .form-field textarea {
	background: $heiBeige !important;
	border: 1px solid $heiRed !important;
}

.login-register .form-field input, .login-register .form-field textarea {
	background: $heiBeige !important;
	border: 1px solid $heiRed !important;
}

//text input fields backgrounds (had to use ids, class assingments above do not have any effect)
#register-email {
	background: $heiBeige;
}

#register-name {
	background: $heiBeige;
}

#register-username {
	background: $heiBeige;
}

#register-password {
	background: $heiBeige;
}

#register-mailing_address {
	background: $heiBeige;
}

#register-goals {
	background: $heiBeige;
}

#login-email {
	background: $heiBeige;
}

#login-password {
	background: $heiBeige;
}

//Honour Code Link
.login-register .form-field label a {
	color: $heiRed !important;
}

//forgotten password link
.login-register .form-field .field-link, .login-register .form-field .field-link:hover, .login-register .form-field .field-link:active, .login-register .form-field .field-link:visited, .login-register .form-field .field-link:focus {
	color: $heiRed;
}



//Log In Button, Create Account Button
.login-register .action-primary, .login-register .nav-btn {
	color: white !important;
	background: $heiRed !important;
	border: none !important;
	border-radius: 0 !important;
}


.login-register .action-primary:hover, .login-register .action-primary:focus, .login-register .action-primary:active, .login-register .nav-btn:hover, .login-register .nav-btn:focus, .login-register .nav-btn:active {
	background: $heiRed !important;
}

//
//Authenticated
//

//Header profile button
header.global .primary > a, header.global .primary > a:hover,
header.global .primary > a:active, header.global .primary > a:focus {
    background-color: $heiRed;
    border-radius: 0px;
    color: white;
    border: 1px solid white;
}

header.global .primary:last-child > a {
    border-radius: 0px !important;
}

header.global .user {
    margin-top: 0px;
}

//
//dashboard
//

//profile info
.dashboard .profile-sidebar header.profile {
    border: 1px solid $heiRed;
    background: $heiBeige;
}

.dashboard .profile-sidebar .user-info > ul {
    border-color: $heiRed;
}

.dashboard .profile-sidebar .user-info > ul li {
    border-bottom: 1px dotted $heiRed;
}

//my courses
.dashboard .my-courses > header {
    border-bottom: 1px solid $heiRed;
}

.dashboard .my-courses .listing-courses .course-item {
    border-bottom: 4px solid $heiLightGrey;
}

//profile info enter course button
.dashboard .my-courses .course .info .enter-course, .dashboard .my-courses .course .info .enter-course:hover:not(:disabled), .dashboard .my-courses .course .info .enter-course:active:not(:disabled), .dashboard .my-courses .course .info .enter-course:focus:not(:disabled) {
    border: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    background-color: $heiRed;
    border-radius: 0px;

}


//
// Course
//

//header
header.global.slim {
    border-bottom: none;
    box-shadow: none;
    background: $heiRed;
}

//instructor preview menu
.wrapper-preview-menu {
    background-color: $heiBeige;
}

/****************************************************************************************************
* Stanford Theming File
*
* Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/
//-----------------
// Color variables (from Stanford palette unless noted)
//-----------------
//Main Color Variables
$main-color: #f7691f;
//$dark-color: #ea281f; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar ***Custom, not from palette***
//Main BG Color Variables
$main-bg: #822537;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%);
//Secondary Color Variables
$secondary: #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color
//Gray Color Variables
$gray: $heiDarkGrey; //Main Text Color
$gray-75: $heiDarkGrey; //Lighter Text Color
$gray-3: $heiLightGrey; //Block/Course BG Color
$gray-2: $heiLightGrey;
$gray-1: $heiLightGrey; //Main BG Color
$white: white;
$black: black;
$black-80: black;
//-----------------
// Font Assignment (assigned above)
//-----------------
//$theme-sans-font: 'Source Sans';
//$sans-serif: $theme-sans-font, $sans-serif;
//$body-font-family: $sans-serif;
//$theme-serif-font: 'Crimson Text';
//$serif: $theme-serif-font, $serif;
//-----------------
// Theme Element Assignments
//-----------------
//$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;
$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);
$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;
$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;
$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;
$header-link-color: $dark-color;
$header-link-hover: $light-color;
$button-color: $main-color;
$button-archive-color: $gray-3;
$shadow-color: $gray;
// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;
// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;
// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;
// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;
// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;
// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;
// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;
// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;
// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;
//
$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;
$sidebar-color: $gray-1;
$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;
$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;
$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);
$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;
$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;
//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;
//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;
//-----------------
// CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/default/images/sunrise.jpg');
$login-banner-image: none;
$register-banner-image: none;
$video-thumb-url: '../themes/default/images/edx.png';
//-----------------
// Mixin Styles
//-----------------
@mixin login_register_h1_style {
clip: auto !important;
height: 50px;
width: 550px;
top: 0;
}
@mixin footer_references_style {
margin: 0 !important;
text-align: right;
}
