## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <hr class="footer-hr">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
 
        </ol>
      </nav>
    </div>
    <div class="references">
      <span><a target="_blank" href="http://code.edx.org"><img src="${static.url('themes/heiMOOC/images/openedx-logo-tag-dark.png')}" heigth="50px"></a></span>
      <span><a target="_blank" href="http://www.uni-heidelberg.de"><img src="${static.url('themes/heiMOOC/images/MOOC_Uni_Footer_logo.png')}" height="50"></a></span>
    </div>
  </footer>
</div>
